/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: "Teachers", sans-serif;
    background: rgb(0, 0, 0);
    };

html{
        scroll-behavior: smooth;
    }

p   {
        color: rgb(225, 225, 225)
    }


/* BACKGROUND */
/* 
.background-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: 100% 100%;
    background-position: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.wrapper .test{
    width: 70px;
    height: 70px;
    border: 5px solid rgb(163, 160, 160);
    position: absolute;
}

.wrapper .test:nth-child(1){
    top: 9%;
    left: 60%;
    animation: square 5s linear infinite;
}

.wrapper .test:nth-child(2){
    top: 20%;
    left: 50%;
    animation: square 8s linear infinite;
}

.wrapper .test:nth-child(3){
    top: 20%;
    left: 10%;
    animation: square 9s linear infinite;
}

.wrapper .test:nth-child(4){
    top: 20%;
    left: 40%;
    animation: square 11s linear infinite;
}

.wrapper .test:nth-child(5){
    top: 40%;
    left: 60%;
    animation: square 7s linear infinite;
}

.wrapper .test:nth-child(6){
    top: 90%;
    left: 35%;
    animation: square 13s linear infinite;
}

.wrapper .test:nth-child(7){
    top: 10%;
    left: 90%;
    animation: square 12s linear infinite;
}

.wrapper .test:nth-child(8){
    top: 20%;
    left: 85%;
    animation: square 8s linear infinite;
}

.wrapper .test:nth-child(9){
    top: 40%;
    left: 65%;
    animation: square 9s linear infinite;
}

.wrapper .test:nth-child(10){
    top: 80%;
    left: 85%;
    animation: square 7s linear infinite;
}

.wrapper .test:nth-child(11){
    top: 5%;
    left: 65%;
    animation: square 10s linear infinite;
}

.wrapper .test:nth-child(12){
    top: 7%;
    left: 80%;
    animation: square 7s linear infinite;
}

.wrapper .test:nth-child(13){
    top: 3%;
    left: 45%;
    animation: square 9s linear infinite;
}

@keyframes square{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.2) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
*/

/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
    display: flex;
    z-index: 3;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: rgb(223, 223, 223);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}



.logo img {
    width: 180px; /* Adjust the width of the logo */
    height: 180px; /* Maintain aspect ratio */
}

.logo:hover{
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
    z-index: 3;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(179, 179, 179);
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display:block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color:rgb(196, 196, 196);
    text-decoration: none;
    transition: all 0.3 ease-in-out ;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 400px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child  {
    transform: none;
}
.hamburger-icon span:first-child  {
    opacity: 1;
}
.hamburger-icon span:first-child  {
    transform: none;
} 

/*SECTIONS*/

section {
padding-top: 4vh;
height: 96vh;
margin: 0 10rem;
box-sizing: border-box;
min-height: fit-content;
z-index: 3;
}

.section-container {
    display: flex;
}

/*PROFILE SECTION*/

#profile {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    height: 80vh;
    z-index: 3;
    align-items: center;
}

.profile-pic{
    border-radius: 2rem;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    z-index: 3;
}

.profile__pic-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__pic-container img {
    max-width: 70%;
    height: auto;
    border-radius: 50%; /* This makes the image circular if it's a square */
}


.section__text{
    flex: 1;
    text-align: center;
    padding-top: 15%;
}

.section__text p{
font-weight: 600;
}

.section__text__p1{
    font-size: 1.5rem;
    text-align: center;
}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title{
    font-size: 3rem;
    text-align: center;
    color: rgba(250, 177, 160,1.0);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/*ICONS*/

.icon{
    cursor: pointer;
    height: 2rem;
    z-index: 3;
}

/*BUTTONS*/

#btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    
}

.btn svg {
    margin-left: 4px;
    transform: translateY(2px) scale(1.3); /* Move the icon down by 2 pixels and scale it */
}   

.btn-color-1,
.btn-color-2 {
    border: rgb(0, 0, 0) 0.1rem solid;
    
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgba(60, 99, 130,0.7);
    color: white;
    
}

.btn-color-1:hover {
    background: rgba(178, 190, 195,1.0);
}

.btn-color-2 {
    background: rgba(178, 190, 195,1.0);
}



.btn-container{
    gap: 1rem;
    
}

/*ABOUT SECTION*/

#about{
    position: relative;
    z-index: 3;
}

.about-containers{
    gap:2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, 
.about-details-container{
    display:flex;
}

.about-pic{
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right:-5rem;
    bottom: 2.5rem;
}

.my-arrow{
    filter: invert(0.5) sepia(0.5) saturate(1) hue-rotate(180deg);
}

.details-container{
    padding: 1rem;
    flex:1;
    background:rgba(149, 175, 192,0.5);
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color:  rgba(149, 175, 192,0.2);
    text-align: center;
}

.section-container{
    gap:4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.edu-icon{
    height: 3.5rem;
}

.exp-icon{
    height: 3.5rem;
    width: 2.7rem;
}


/*TIMELINE*/ /*Expereince*/

.timeline{
    position: relative;
    max-width: 800px;
    margin:50px auto;
}

.timeline-container{
    padding:2px 50px;
    position: relative;
    width: 50%;
}

.timeline-box{
    padding: 7px 30px;
    border-color: rgba(149, 175, 192,0.2);
    background: rgba(149, 175, 192,0.6);;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left: -13%;
}

.right-container{
    left: 50%;
}

.timeline-container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right:-25px;
    top:32px;
    z-index: 10;
    background: white;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width:6px;
    height: 100%;
    border-color: rgba(149, 175, 192,0.2);
    background: rgba(149, 175, 192,0.5);;
    top:0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height:0;
    }
    100%{
        height:100%;
    }
}

.timeline-box h2{
font-weight: 600;
}

.timeline-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
height: 0;
width: 0;
position: absolute;
top:28px;
z-index: 1;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid rgba(149, 175, 192,0.6);
right: -15px;
}

.right-container-arrow{
height: 0;
width: 0;
position: absolute;
top:28px;
z-index: 1;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-right: 15px solid rgba(149, 175, 192,0.6);
left: -14.5px;
}

#experience{
    position: relative;
}

/*SKILLS*/

#Skill{
    position: relative;
}

.experience-sub-title{
    color:rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: space-around;
}

article{
    display:flex;
    width: 7rem;
    justify-content: flex-start;
    gap:0.5rem;
}

article.icon{
cursor: default;
}

/*PROJECTS*/

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
}

#projects{
    position: relative;
}

.color-container{
    border-color: rgba(149, 175, 192,0.2);
    background: rgba(149, 175, 192,0.5);
}

.project-img {
border-radius: 2rem;
width: 50%;
height: 50%;
}

.project-title{
    margin: 1rem;
    color: rgb(0, 0, 0);
}

.project-btn{
    color: black;
    border-color: rgba(254, 254, 254, 0);
    margin: 0 5px;
}



/*CONTACT*/

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border:rgb(53,53,53) 0.1rem solid;
    border-color: rgba(149, 175, 192,0.2);
    background: rgba(149, 175, 192,0.5);
    margin: 2rem auto;
    padding: 0.5rem;
    width: fit-content;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin:1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
}

.email-icon{
    height:1.5rem;
}


/*FOOTER*/

footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
}